h1
{
    color:green; font-size:250%;
}

div
{
    width:640px;
    margin-left:auto;
    margin-right:auto;
}

h1, h2, li, footer
{
    text-align: center;
    font-family: 'Josefin Slab', serif;
}

li
{
    list-style:none;
    width:33%;
    float:left;
}